./production.db
./redacted.js
config.json
redacted.json
node_modules/
public/css/materialize.css
public/css/materialize.css.map
.sass-cache/
public/scss/.sass-cache/
public/javascripts/webindex.render.js