<html>
    <head>
        <title>Temperature Chamber API</title>
    </head>
    <body>
        <h1>Temperature Chamber API</h1>
        <h2>Accessing</h2>
        <p>Use a POST request on the pages with an authorization header like such:</p>
        <p>authorization:yourkeyhere</p>
        <h2>Routes:</h2>
        <ul>
            <li>
                <h3>api/instructions</h3>
                <p>Get the most recent instructions sent to the pi as a json array</p>
            </li>
            <li>
                <h3>api/sensors</h3>
                <p>Get the most recent sensor data from the reference egg as json</p>
            </li>
        </ul>
    </body>
</html>