<html>
    <head>
        <title>TempChamber Control Panel</title>
        <link rel="stylesheet" href="css/materialize.css">
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <script
        src="https://code.jquery.com/jquery-3.3.1.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>

        <div class="container">
            <div class="row">
                <form class="col s12" action="/login" method="POST">
                    <div class="row">
                        <div class="input-field col s12 m12 l6 push-l3">
                            <input placeholder="Username" name="username" id="username" type="text" class="validate" required>
                            <input placeholder="Password" name="password" id="password" type="password" class="validate" required>
                            <input type="hidden" name="continue" value="<%-con%>">
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s4 push-s8">
                            <input class="btn" type="submit" value="Login"> 
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>